<header style="text-align:center"> <img src="assets/img/ss.png" width="350px"> </header>

<h1>Exercise Planner</h1>

<h2>List of Planned Exercises</h2>

<ul>
  {{#each exercises}}
    <li>
      <p>
        {{this.id}}. {{this.exercise}}

        <button data-exerciseid="{{this.id}}" class="delexercise">Delete</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add an Exercise to the Planner List</h2>
<form id="addexercise" class="button-size">
	<textarea type="text" name="exercise"></textarea>
	<button type="submit">Save exercise!</button>
</form>

<h2>Update an Exercise</h2>
<form id="updateexercise" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="exercise" placeholder="what do you want to update this exercise title to?"></textarea>
	<button type="submit">Update exercise!</button>
</form>

<script type="text/javascript">
  $(".delexercise").on("click", function(event) {
    var id = $(this).data("exerciseid");

    // Send the DELETE request.
    $.ajax("/exercises/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addexercise").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newexercise = {
      exercise: $("#addexercise [name=exercise]").val().trim()
    };

    // Send the POST request.
    $.ajax("/exercises", {
      type: "POST",
      data: newexercise
    }).then(
      function() {
        console.log("added new exercise");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateexercise").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedexercise = {
      exercise: $("#updateexercise [name=exercise]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/exercises/" + id, {
      type: "PUT",
      data: updatedexercise
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
